/*===========================
    2. Header css 
===========================*/
.transparent_header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.minax_header.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $blue_bg;
	z-index: 337;
	border-color: $blue_bg;
}
.minax_header{
	z-index: 337;
	& .site_menu{
		display: block;
		@media #{$md}{
			display: none;
		}
		@media #{$xs}{
			display: none;
		}
		& .primary_menu{
			float: right;
			& .main_menu{
				& ul{
					& li{
						display: inline-block;
						margin-left: 40px;
						@include transition (.4s);
						& a{
							font-size: 15px;
							color: $white;
							display: block;
							padding: 42px 0;
							font-family: $quicksand;
							text-transform: uppercase;
							font-weight: 600;
							@include transition (.5s);
							&:hover{
								color: $theme_color;
							}
						}
					}
					& .active{
						a{
							color: $theme_color;
						}
					}
				}
			}
		}
	}
	& .mobile_menu{
		padding: 15px 0;
		display: none;
		@media #{$md}{
			display: block;
		}
		@media #{$xs}{
			display: block;
		}
		.menu_button{
			float: right;
			.menu_icon{
				span{
					display: block;
					width: 30px;
					height: 3px;
					background-color: $white;
					margin: 6px 0 2px;
					@include transition(.5s);
					&:nth-child(1){
						margin-top: 0;
					}
					&:nth-child(3){
						width: 15px;
						margin-bottom: 0;
					}
				}
			}
			& .active{
				& span{
					&:nth-child(1){
						width: 15px;
					}
					&:nth-child(3){
						width: 30px;
					}
				}
			}
		}
		& .sidenav_menu{
			overflow: hidden;
		    width: 80%;
		    height: 100%;
		    position: fixed;
		    top: 0;
		   	left: 0;
		    padding: 50px 30px;
		    z-index: 9999;
		    background: $dark_bg;
		    overflow: auto;
		    @include transform(translateX(-100%));
		    @include transition(.5s);
		    & .close_icon{
		    	position: absolute;
		    	top: 0;
		    	right: 0;
		    	.close_btn{
		    		display: block;
		    		width: 40px;
		    		height: 40px;
		    		line-height: 40px;
		    		text-align:center;
		    		background-color: $white;
		    		color: $theme_color;
		    	}
		    }
		    & .sidebar-menu{
		    	& li{
		    		display: block;
		    		line-height: 40px;
		    		& a{
		    			text-transform: capitalize;
		    			color: $white;
		    			font-size: 16px;
		    			font-weight: 500;
		    			&:hover,
		    			&:focus{
		    				color: $theme_color;
		    			}
		    		}
		    	}
		    	& .active{
					a{
						color: $theme_color;
					}
				}
		    }
		}
		& .active{
			@include transform(translateX(0));
		}
	}
}