/*===========================
    5. service css 
===========================*/
.minax_service{
	margin-bottom: -60px;
	& .section_title{
		margin-top: -8px;
	}
	& .service_box{
		padding: 30px;
		background-color: $dark_bg;
		margin-bottom: 60px;
		@include transition(.5s);
		&:hover{
			border-bottom-right-radius: 40px;
			background-color: $theme_color;
		}
		&:hover .service_icon{
			& i{
				color: $white;
			}
		}
		&:hover .service_info{
			& a.btn_link{
				color: $white;
				background-color: $dark_bg;
			}
		}
		& .service_icon{
			& i{
				display: block;
				margin-top: 7px;
				font-size: 42px;
				margin-bottom: 30px;
				color: $theme_color;
			}
		}
		& .service_info{
			& h4{
				color: $white;
				margin-bottom: 20px;
			}
			& p{
				color: $white;
				margin-bottom: 21px;
			}
			& a.btn_link{
				display: block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				color: #fff;
				font-size: 16px;
				background-color: $theme_color;
			}
		}
	}
}