// Font Family 

$quicksand: 'Quicksand', sans-serif;

$rubik: 'Rubik', sans-serif;

// Colors
$white: #fff;

$dark_bg: #121d30;

$blue_bg: #070e19;

$theme_color: #ff4a57;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';