/*===========================
    7. why_choose css 
===========================*/


.minax_why{
	& .minax_img_box{
		@media #{$xs}{
			margin-bottom: 60px;
		}
	}
	& .minax_content_box{
		.content_title{
			margin-bottom: 55px;
			& h2,
			& p{
				color: #fff;
			}
		}
	}
	& .why_choose_area{
		& .single_col{
			&:nth-child(even){
				margin-top: 30px;
				@media #{$md}{
					margin-top: 0px;
				}
				@media #{$xs}{
					margin-top: 0px;
				}
			}
			& .single_choose{
				background-color: $dark_bg;
				padding: 30px 30px 25px;
				@include transition(.5s);
				@media #{$lg}{
					padding: 25px 15px;
				}
				&:hover{
					background-color: $theme_color;
				}
				&:hover .choose_icon{
					& i{
						color: $white;
					}
				}
				@media #{$md}{
					margin-bottom: 40px;
				}
				@media #{$xs}{
					margin-bottom: 40px;
				}
				& .choose_icon{
					& i{
						display: block;
						margin-top: 3px;
						margin-bottom: 28px;
						font-size: 32px;
						color: $theme_color;
					}
				}
				& .choose_info{
					& h4{
						color: $white;
						margin-bottom: 20px;
						@media #{$lg}{
							font-size: 18px;
						}
					}
					& p{
						color: $white;
					}
				}
			}
		}
	}
}